:root{
    --laranja:#FF4500;
    --preto:#000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/
body {
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: #fff;
}

header .container {
   display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left: 5px;
    color: var(--laranja);
    font-family: 'Arial Black';
    font-size: 40px;
}

.perfis{
    cursor: pointer;
    margin-top: 15%;
    margin-left: 20%;
}

.perfis img{
    width: 180px;
    margin-left: 50px;
    align-items:flex-end;
    border-radius: 5%;
}

.perfis a:hover{
    color: #fff;
}

.perfis h1{
    margin-left: 20%;
    font-size: 50px;
    margin-bottom: 5%;
}

